
:root {
    --monnit-main: #0067ab;
 --monnit-second: #08afe6;
 --monnit-gray: #515356;
--bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
html {
height:100%;
}
body {
height:100%;
}

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: Calibri;
    height:100%;
    width: 100%;
    overflow-x: hidden;
}


.monnit-header {
    display: flex;
    align-items: center;
    padding:10px;
    width: 100%;
    border-bottom: 2px solid #0000000d;
flex-wrap: wrap;
}

/*/////// Simple Styles////// */
.d-flex {
    display: flex;
}
.align {
    align-items: center;
}
.gap {
    gap:10px;
}

.row-align {
    align-items: center;
    gap: 10px;
    height: 77px;
    display: flex;
}
/*--------------------
    1. Menu header 
 ----------------------*/
 .menu-dd-nav {
    background-color: #ebebf0 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 23px 0px, rgba(0, 0, 0, 0.09) 0px 4px 6px -2px;
 }
 .menu-dd-nav ul{
    margin: 0 20px;
    text-transform: none;
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 400;
    gap: 40px;
    padding: 11px 0;
    justify-content: center;
 }
 .menu-dd-nav ul li {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-family: Calibri;
    color: #515356;
    font-weight: 500;
 }


 .menu-dd-nav {
    gap: 1rem;
    padding: 15px;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-family: Calibri;
    color: #515356;
    font-weight: 500;

 }
 /*------------------ Menu Animation----(blue line)-----  */
 .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--monnit-second);
    cursor: pointer;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
 
    bottom: -5px;
    left: 0;
    background-color: var(--monnit-second);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .hover-underline-animation:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .menu-container {
    background-color: #f8f8f8;
    padding: 50px 0!important;
    height: auto!important;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.3);
    font-weight: 400;
    /* display: none!important; */
    position: fixed;
    top: 123px;
    left: 0;
    right: 0;
    margin:20px;
}

  /*////////// DROPDOWN  MENU//////////*/
 
  .header {
    background-color: #F3F3F3;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
  }
  
  .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
  }
  
  .dropdown.active > .link,
  .link:hover {
   
    font-weight: 600;
  }
  
  .dropdown {
    position: relative;
flex-shrink: 1;
  }
  
  .dropdown-menu {
    position: absolute;
    width:max-content;
    left: 0;
    top: calc(100% + 0.90rem);
    background-color: white;
    /* padding: .75rem; */
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 200ms ease-in-out, transform 150ms ease-in-out;
    
  }
  
  .dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
   .dropdown-links > a:last-child {
  border-radius: 0 0 5px 5px;
  }
  
  
  .information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
  }
  
  .dropdown-links {
    display: flex;
    flex-direction: column;
    /* gap: .25rem; */
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  }
  .dropdown-links > a {
    background:#3F8DBF;
    padding:3px 8px;
    color:white;
  }
  .dropdown-links > a:hover {

    color:white;
  }
/* dropdown animation */

.dropdown-links > a:hover {
    background: #ebebf0;
    color: #515356;
    box-shadow: 3px 0px #126ca1 inset;
    transition: box-shadow 0.3s linear, text-indent 0.3s linear;
    text-indent: 7px;
}

/*--------------------
    2. Footer
 ----------------------*/

footer {
    color: #fff;
    padding: 10px 0 0;
    position: relative;
    bottom: 0;
    width: 100%;

    background: #182c39;
}
footer p {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;

}
footer h2 {
    font-size: 25px;
    font-weight: 900;
    color: var(--monnit-main);
}



.footer-col {
display: flex;
flex-direction: column;
line-height: 1.75rem;
}
.footer-container {
    display: flex;
    width:100%;
    justify-content: space-around;
    margin-bottom: 27px;
flex-wrap:wrap;
}
.footer-col > a {
    text-decoration: none;
    color:white;
}
.footer-col > a:hover {
    color:var(--monnit-main);
}

.bottom-footer {
    background:var(--monnit-main);
text-align: center;
padding: 12px 0;
font-size: 14px;
}

.bottom-footer > a {
text-decoration: none;
color:white;
}

.social-foot {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-evenly;
}
.social-foot > li {
list-style-type: none;

}
.list-items {
    display: flex;
    margin: none!important;
    padding:none!important;
    list-style-type: none!important;
    margin-block: none!important;
}
.newsletter-align {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.news-lil-header {
display: flex;
align-items: center;
margin:20px;
gap:10px;
}
.panel {
  padding: 0 18px;
  display: none;
  
  overflow: hidden;
color:white;
}

.accordion-m {
  
  
  
  transition: 0.4s;
}

/*--------------------
    â¤ Input boxes 
 ----------------------*/

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    outline: none;
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
}
.form-control:hover {
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    border-radius: 5px;
    transform: scale(1.02);
}

/* //// Signup animation button ///////// */

.swanky_title__social a {
  position: relative;
  overflow: hidden;
  width: 140px;
  margin-right: 15px;
  text-decoration: none;
  padding: 0px 0px 5px 0px;
  height: 40px;
  border: 2px solid white;
  float: left;
  color: white;
  font-size: 12px;
  font-weight: 400;
  margin-top: 20px;
}
.swanky_title__social a .slide {
  height: 45px;
  width: 100px;
  float: left;
  position: absolute;
  transform: skew(20deg);
  left: -120px;
  transition-property: left;
  transition-duration: 0.2s;
  background: white;
}
.swanky_title__social a .slide .arrow {
  position: absolute;
  right: 31px;
  top: 24px;
  opacity: 0;
  transform: skew(-20deg);
}
.swanky_title__social a .slide .arrow .stem {
  width: 10px;
  height: 2px;
  background: #858490;
}
.swanky_title__social a .slide .arrow .point {
  width: 6px;
  height: 6px;
  border-right: 2px solid #858490;
  top: -3px;
  right: 1px;
  position: absolute;
  transform: rotate(45deg);
  border-top: 2px solid #858490;
}
.swanky_title__social a .signup {
  
  margin-left: 10px;
  position: relative;
  margin-right: 8px;
  transition-property: margin-left;
  transition-duration: 0.1s;
  margin-top: 6px;
  top: 4px;
}
.swanky_title__social a:hover > .slide {
  left: -70px;
  transition-property: left;
  transition-duration: 0.1s;
}
.swanky_title__social a:hover > .signup {
  margin-left: 40px;
  transition-property: margin-left;
  transition-duration: 0.1s;
}
.swanky_title__social a:hover > .slide .arrow {
  right: 11px;
  opacity: 1;
  transition-property: right, opacity;
  transition-delay: 0.07s;
  transition-duration: 0.2s;
}
#burger, .main-nav {
display: none;
}




@media (max-width:680px){
#burger, .main-nav {
display: block;
}
.menu-dd-nav {
display: none;
}

.logo-container {
width:100%;
display: flex;
justify-content: center;
}
.monnit-header {
justify-content: center;
gap:12px;
}
.m-icons {
margin-left: inherit;
}
.footer-col {
align-items: center;
}
.newsletter-align {
text-align: center;
}
#logo-image {
width:200px;
}
/* Mobile menu animation */
/* Main menu positionning */
.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
	 content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #0067ab;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: #ffff;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
}
.open-main-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background: #515356;
	transform: skew(5deg);
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #515356;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
background: white;
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
background: white;
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}
.panel > a {
font-size:16px;
font-weight: 300;
color:orange;
padding:3px;
}


}

@media (min-width: 480px) and (max-width: 767px) {



}

@media (min-width: 768px) and (max-width: 1023px) {
  
}


