:root {
  --monnit-main: #0067ab;
  --monnit-second: #08afe6;
  --monnit-gray: #515356;
  --monnit-orange: #da5523;
}
*, *:after, *:before {
  box-sizing: border-box;
}


.dropdown,
.menu-dd-nav,
.swanky_title__social a,
footer {
  position: relative;
}


body,
html {
  height: 100%;
  margin: 0;
}

.Page-Container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Page-Footer {
  margin-top: auto;
}



.menu-dd-nav,
body {
  font-family: Calibri;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.nav-icon {
  width: 100%;
  height: auto;
  display: inline-block;
}

.nav-icon:hover {
  cursor: pointer;
}

.nav-icon>svg {
  width: 40px;
  height: 40px;
  fill: var(--monnit-main);
}

.nav-icon:hover svg,
.nav-icon {
  fill: var(--monnit-second);
}

.m-icons {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.header-icons,
.web-icons {
  display: inline-block;
  background-repeat: no-repeat;
}

.web-icons {
  width: 25px;
  height: 25px;
}

.header-icons {
  width: 34px;
  height: 34px;
  fill: var(--monnit-main);
}

.web-icons,
path:first-child {
  fill: #0067ab;
}

.social-foot svg:hover {
  fill: var(--monnit-main);
  cursor: pointer;
  transform: scale(0.9);
}

.top-ico,
path:first-child>svg path {
  fill: var(--monnit-second);
}

.icon {
  width: 30px;
  height: 30px;
  fill: #e5e5e5;
}

.icon>svg {
  width: 30px;
  height: 30px;
}

#burger,
.main-nav {
  display: none;
}

.monnit-header {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid #0000000d;
  flex-wrap: wrap;
}

.menu-dd-nav {
  background-color: #ebebf0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 23px 0, rgba(0, 0, 0, 0.09) 0 4px 6px -2px;
  gap: 1rem;
  padding: 15px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  font-size: 20px;
  color: #515356;
  font-weight: 500;
}

.dropdown-links,
.dropdown-menu {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--monnit-second);
  cursor: pointer;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: var(--monnit-second);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:focus::after,
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link {
  background: 0 0;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown.active>.link,
.link:hover {
  font-weight: 600;
}

.dropdown {
  flex-shrink: 1;
}

.dropdown-menu {
  position: absolute;
  width: max-content;
  left: 0;
  top: calc(100% + 0.9rem);
  background-color: #fff;
  border-radius: 0.25rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, transform 150ms ease-in-out;
  z-index: 9;
}

.dorpdown-menu:nth-child(1) {
  z-index: 9999;
  position: relative;
}

.dropdown.active>.link+.dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links>a:last-child {
  border-radius: 0 0 5px 5px;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
}

.dropdown-links>a {
  background: #3f8dbf;
  padding: 3px 8px;
  color: #fff;
}

.dropdown-links>a:hover {
  background: #ebebf0;
  color: #515356;
  box-shadow: 3px 0 #126ca1 inset;
  transition: box-shadow 0.3s linear, text-indent 0.3s linear;
  text-indent: 7px;
}

.footer-col,
.row-align>h3 {
  color: #b9b3b3;
}

.footer-col>a:hover,
footer h2 {
  color: var(--monnit-main);
}

footer {
  color: #0067ab;
  padding: 10px 0 0;
  bottom: 0;
  width: 100%;
  background: #182c39;
}

footer p {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

footer h2 {
  font-size: 25px;
  font-weight: 900;
}

.footer-col {
  display: flex;
  flex-direction: column;
  line-height: 1.75rem;
}

.footer-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 27px;
  flex-wrap: wrap;
}

.bottom-footer>a,
.footer-col>a {
  text-decoration: none;
  color: #fff;
}

.bottom-footer {
  background: var(--monnit-main);
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
}

.social-foot {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-evenly;
}

.social-foot>li {
  list-style-type: none;
}

.newsletter-align {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.align,
.news-lil-header {
  align-items: center;
}

.news-lil-header {
  display: flex;
  margin: 20px;
  gap: 10px;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: #fff;
}

.form-control,
.form-control:focus {
  color: #212529;
  background-color: #fff;
}

.accordion-m {
  transition: 0.4s;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  outline: 0;
  border-color: #86b7fe;
}

.form-control:hover {
  box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 2px 6px 2px;
  border-radius: 5px;
  transform: scale(1.02);
}

.swanky_title__social a {
  overflow: hidden;
  width: 140px;
  margin-right: 15px;
  text-decoration: none;
  padding: 0 0 5px;
  height: 40px;
  border: 2px solid #fff;
  float: left;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-top: 20px;
}

.swanky_title__social a .slide {
  height: 45px;
  width: 100px;
  float: left;
  position: absolute;
  transform: skew(20deg);
  left: -120px;
  transition-property: left;
  transition-duration: 0.2s;
  background: #fff;
}

.swanky_title__social a .slide .arrow {
  position: absolute;
  right: 31px;
  top: 24px;
  opacity: 0;
  transform: skew(-20deg);
}

.swanky_title__social a .slide .arrow .stem {
  width: 10px;
  height: 2px;
  background: #858490;
}

.swanky_title__social a .slide .arrow .point {
  width: 6px;
  height: 6px;
  border-right: 2px solid #858490;
  top: -3px;
  right: 1px;
  position: absolute;
  transform: rotate(45deg);
  border-top: 2px solid #858490;
}

.swanky_title__social a .signup {
  margin-left: 10px;
  position: relative;
  margin-right: 8px;
  transition-property: margin-left;
  transition-duration: 0.1s;
  margin-top: 6px;
  top: 4px;
}

.swanky_title__social a:hover>.slide {
  left: -70px;
  transition-property: left;
  transition-duration: 0.1s;
}

.swanky_title__social a:hover>.signup {
  margin-left: 40px;
  transition-property: margin-left;
  transition-duration: 0.1s;
}

.swanky_title__social a:hover>.slide .arrow {
  right: 11px;
  opacity: 1;
  transition-property: right, opacity;
  transition-delay: 70ms;
  transition-duration: 0.2s;
}

.row-align {
  align-items: center;
  gap: 10px;
  height: 77px;
  display: flex;
}

.sprite {
  background-image: url(/spritesheet-top.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-chrome-top-blue-01 {
  width: 35px;
  height: 35px;
  background-position: -5px -5px;
}

.sprite-chrome-top-blue-02 {
  width: 77px;
  height: 77px;
  background-position: -92px -5px;
}

.sprite-chrome-top-blue-03 {
  width: 77px;
  height: 77px;
  background-position: -5px -92px;
}

.sprite-chrome-top-blue-04 {
  width: 77px;
  height: 77px;
  background-position: -92px -92px;
}

/*//////////// SKU Page  ///////////////////////////  */

.buyProduct_Container {
  width:100%; 
  height:100%;
  position: relative;
  display:flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-around;
  background:#f5f6f7;

}
.sensor-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy-details {
 background-color:#f9f9f9;
 box-shadow: 0 0 .5rem rgba(0,0,0,.3)!important;
}
.fixed-bottom {
  bottom: 0px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
}
.nav-bar {
  align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:1.5rem 3rem;
}
.monnit-btn {
  border:none;
  padding: .8rem;
  background-color: var(--monnit-main);
  color:white;
  border-radius: 4px;
  font-size: 18px;
}
.price-show{
display: flex;
flex-direction: column;
}
.product-selection span:first-child {
  font-size:1.5rem;
}
.product-tree > svg {
  width:12px;
  height:12px;
  fill:#515356;
}
.product-tree {
  gap: 15px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}


.select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  padding:20px;
}
.select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #394a6d;
}
.select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-weight: 300;
  color: #3b3b3b;
  height: 48px;
  background: #ffffff;
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: var(--monnit-main);
} 
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #394a6d4d;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 12px 0 22px;
  font-size: 18px!important;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}
.add-sub-btn {
  width:30px;
  height:30px;
}

.arrow {
     position: relative;
     height: 15px;
     width: 15px;
}
 .arrow::before, .arrow::after {
     content: "";
     position: absolute;
     bottom: 0px;
     width: 0.15rem;
     height: 100%;
     transition: all 0.5s;
}
 .arrow::before {
     left: -5px;
     transform: rotate(45deg);
     background-color: #394a6d;
}
 .arrow::after {
     left: 5px;
     transform: rotate(-45deg);
     background-color: #394a6d;
}
 .open .arrow::before {
     left: -5px;
     transform: rotate(-45deg);
}
 .open .arrow::after {
     left: 5px;
     transform: rotate(45deg);
}
.sm-menu {
  font-size:18px;
}
.q-box {
  align-items: center;
  padding: 10px;
  font-size: 24px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid var(--monnit-orange);
}
.q-box-container {
  display: flex;
  flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.includes {
  display: flex;
  gap:10px;
  justify-content: center;
}
.in1 {
  position: relative;
  background-color: white;
  width: 126px;
  border: 2px solid var(--monnit-orange);
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 9px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.file-icon {
  width:20px;
  height:20px;
}
.chooseFile {
  margin-top: 10px;
    align-items: center;
    display: flex;
    color: #08afe6;
}
.chooseFile:hover {
  color: #0067ab;
  cursor: pointer;
}
.add-ons-box {
font-weight: bold;
font-size:20px;
margin:5px 10px; 
color:#0067ab;
}
.headtag {
  font-size: 18px !important;;
}
.title-sensor {
    width: 100%;
    text-align: center;
    color: white;
    background: #0067ab;
    font-size: 1.2rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}
.boxlet {
background: #E6E6E8;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    border: 2px solid #8080802b;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;}
.sm-img {
border:2px solid rgb(158, 156, 156);
height: 60px;
border-radius: 3px;
}
.sm-box-container {
display: flex;
width:100%;
justify-content: space-evenly;
}
 #box {
      position:fixed;
      bottom: 0;
        background: #E6E6E8;
        height: 94px;
        transition: height 300ms;
        width: 100%;
z-index:99;
    }
   #box.is-active {
        height: 249px;
border-top: 2px solid #0067ab;
    }

/*------ Photo Slider ------ */

 
  img {
    vertical-align: middle;
  }
  
  .image-container {
    position: relative;
    margin-top:20px;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #515356;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    color: #0067ab;
  }
  
  .numbertext {
    color: #515356;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .caption-container {
    text-align: center;
    background-color: #E6E6E8;
    padding: 0.5px 28px;
    margin-bottom: 16px;
    color: #000000;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column-slide {
   width:60px;
   height:60px;
  }
  .sm-img {
    opacity: 0.6;
  }
  
  .active,
  .sm-img:hover {
    opacity: 1;
  }
  .sm-img.cursor.active {
    border:2px solid #0067ab;
    border-radius:3px;
    width:100%;
  }
  @media only screen and (min-width: 680px){

.img-position {
  width:100%;
  display: flex;
  justify-content: center;
}
.image-container {
  width:400px;
}
.title-sensor {
  width:100%;
  font-size:1.5rem;
  color:#0067ab;
  font-weight:bold;
  background: none;
}
  }










@media (max-width: 680px) {

  .main-nav,
  .newsletter-align {
    text-align: center;
  }

  .main-nav,
  .main-nav::before {
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }

  #burger,
  .main-nav {
    display: block;
  }

  .menu-dd-nav {
    display: none;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .monnit-header {
    justify-content: center;
    gap: 12px;
  }

  .m-icons {
    margin-left: inherit;
    gap:10px;
  }

  .footer-col {
    align-items: center;
  }

  #logo-image {
    width: 200px;
  }

  .main-nav {
    right: 0;
    background: #fff;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: 0.375s;
  }

  .main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
  }

  .main-nav::before {
    content: "";
    right: -15px;
    background: #0067ab;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: 0.275s 0.1s;
  }

  .main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
  }

  .main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%;
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
  }

  .main-nav li {
    display: block;
    margin: 0.5rem 0;
    text-align: right;
    transform: skew(16deg);
  }

  .main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
  }

  .main-nav li:first-child a {
    transition: 275ms 175ms;
  }

  .main-nav li:nth-child(2) a {
    transition: 275ms 225ms;
  }

  .main-nav li:nth-child(3) a {
    transition: 275ms 275ms;
  }

  .main-nav li:nth-child(4) a {
    transition: 275ms 325ms;
  }

  .main-nav li:nth-child(5) a {
    transition: 275ms 375ms;
  }

  .main-nav li,
  .main-nav ul {
    list-style: none;
    padding: 0;
  }

  .main-nav a {
    opacity: 0;
    transform: translateY(-10px);
    display: block;
    padding: 12px 0;
    color: #ffff;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: 700;
  }

  .open-main-nav {
    position: absolute;
    top: 15px;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: 0 0;
    border: 0;
    cursor: pointer;
  }

  .burger,
  .burger:after,
  .burger:before {
    display: block;
    background: #515356;
    transition: 0.275s;
  }

  .open-main-nav:focus {
    outline: 0;
  }

  .burger {
    position: relative;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    transform: skew(5deg);
  }

  .burger:after,
  .burger:before {
    content: "";
    height: 100%;
  }

  .burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
  }

  .burger:before {
    transform: translateY(-16px) skew(-10deg);
  }

  .is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
    background: #fff;
  }

  .is-open .burger:before {
    transform: translateY(0) skew(-10deg) rotate(75deg);
    background: #fff;
  }

  .is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
  }

  .panel>a {
    font-size: 22px;
    font-weight: 500;
    color: orange;
    padding: 11px 0;
  }
}
